.cart-container {
  text-align: center;
}
.cart-container h6 {
  margin-left: 100px;
  margin-top: 10px;
  font-size: 20px;
  color: forestgreen;
  border-bottom: 1px solid black;
}
.cart small {
  font-size: 17px;
  margin-left: 100px;
  color: black;
  font-weight: bold;
}
.cart hr {
  margin-left: 100px;
  color: black;
  font-weight: bold;
  background-color: black;
  width: 200px;
}
